<!-- <div class="text-secondary">
  {{selectdCatId}}
</div> -->
<!-- <button type="button" class="btn btn-danger" (click)="ChangeCat()">Change Category</button> -->
<!-- <button type="button" class="btn btn-danger" (click)="CgetSelect($event)">Change Category</button> -->
<!-- in ts event.target.value -->
<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th>quantity</th>
      <th>img URL</th>
      <th>category</th>
      <th>Items Selected</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProducts"
      [ngClass]="{'table-warning':product.Quantity <= 3, 'table-danger':product.Quantity ==1}">
      <!-- safe navigation operator -->
      <td>{{product?.Name}}</td>
      <td>
        <!-- ng template use cases -->
        <div *ngIf="product.Price <= 10000 else HighValue">
          {{product.Price | USDtoEGP | currency: 'EGP' : 'code'}}
        </div>
        <ng-template #HighValue>High {{product.Price | USDtoEGP| currency: 'EGP' : 'code'}}</ng-template>
      </td>
      <td [class.bg-danger]="product.Quantity <= 2">{{product?.Quantity}}</td>
      <td><img LightBox highLightColor="" src="{{product?.ImgURL}}"></td>
      <td>{{product?.CategoryID}}</td>
      <!-- Template variable -->
      <td><input #itemsCount type="number" class="form-control w-50"></td>
      <td>
        <button type="button" class="btn btn-info" (click)="view(product.id)">View</button>
        <a class="btn btn-info" role="button" [routerLink]="['/ProductDetails' , product.id]">details</a>
        <button type="button" class="btn btn-primary" (click)="BuyItem(product.id, itemsCount.value)"> Buy
        </button>
      </td>
    </tr>
  </tbody>
</table>
<hr>

<h3 class="text-danger">
  [to be removed]
  Order Total Price : {{orderTotalPrice | USDtoEGP | currency:'EGP' : 'code'}}
</h3>
