<div class="mb-3">
  <label for="prdCat" class="form-control">Category</label>
  <select class="form-control" id="prdCat" [(ngModel)]="selectdCatId" (change)="ChangeCatFilter()" name="Category">
    <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
  </select>
</div>

<div class="text-secondary">
  {{selectdCatId}}
</div>
<!-- <button type="button" class="btn btn-danger" (click)="ChangeCat()">Change Category</button> -->
<!-- <button type="button" class="btn btn-danger" (click)="CgetSelect($event)">Change Category</button> -->
<!-- in ts event.target.value -->
<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th>quantity</th>
      <th>img URL</th>
      <th>category</th>
      <th>Items Selected</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProducts"
      [ngClass]="{'table-warning':product.quantity <= 3, 'table-danger':product.quantity ==1}">
      <!-- safe navigation operator -->
      <td>{{product?.name}}</td>
      <td>
        <!-- ng template use cases -->
        <div *ngIf="product.price <= 10000 else HighValue">
          {{product.price | USDtoEGP: 20 | currency: 'EGP' : 'code'}}
        </div>
        <ng-template #HighValue>High {{product.price | USDtoEGP:10 | currency: 'EGP' : 'code'}}</ng-template>
      </td>
      <td [class.bg-danger]="product.quantity <= 2">{{product?.quantity}}</td>
      <td><img LightBox highLightColor="" src="{{product?.imgURL}}"></td>
      <td>{{product?.categoryId}}</td>
      <!-- Template variable -->
      <td><input #itemsCount type="number" class="form-control w-50"></td>
      <td><button type="button" class="btn btn-primary" (click)="BuyItem(product.price, itemsCount.value)"> Buy
        </button></td>
    </tr>
  </tbody>
</table>
<hr>

<h3>
  Order Total Price : {{orderTotalPrice}}
</h3>
