<h2>Place YOur Order</h2>
<div class="mb-3">
  <label for="prdCat" class="form-control">Category</label>
  <select class="form-control" id="prdCat" [(ngModel)]="selectdCatId" name="Category">
    <option value="0" selected>All</option>
    <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
  </select>
</div>

<hr>
<div class="bg-warning">
  <app-products [CatId]="selectdCatId" (onTotalPricechanged)="onTotalPriceChanged($event)"
    (onBuyItem)="onBuyItem($event)"></app-products>

</div>

<div class="bg-primary col-4" [hidden]="buyItems.length == 0">
  Items added to cart:
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th>price</th>
        <th>category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prd of buyItems">
        <td>{{prd.name}}</td>
        <td>{{prd.Price}}</td>
        <td>{{prd.categoryId}}</td>
        <td>{{prd.quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h3>Enter your name</h3>
  <input #ClientNameInput type="text" class="form-control">
</div>
<h3>Order Total Price: {{orderTotalPrice | USDtoEGP | currency:'EGP' :'code'}}</h3>